:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background: radial-gradient(343px at 46.3% 47.5%, rgb(242, 242, 242) 0%, rgb(241, 241, 241) 72.9%);

}
.container-cards{
  display: flex;
  justify-content: center;
}

.form-control{ 
  background: transparent !important;
  border: solid 2px white !important;
}
select{ 
  background: transparent !important;
  border: solid 2px white !important;
}
textarea{ 
  background: transparent !important;
  border: solid 2px white !important;
}
.card{ 
  --bs-card-bg: transparent;
}
#no-task{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 8rem;
  opacity: 70%;
}


@media (max-width: 576px) {
  /* CUSTOM WIDTHS */
  .w-sm-100 { width: 100%!important; }
}

@media (min-width: 576px) {
  /* CUSTOM WIDTHS */
  .w-sm-100 { width: 75%!important; }
}


